<h1>All Users</h1>
<% @users.each do |user| %>
  <p>
    <%= link_to "#{user.first_name} #{user.last_name}", user.profile %>
    <%= link_to "Add Friend", requests_path(request: { requestee_id: user.id }), method: :post %>
  </p>
<% end %>
