/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   margin: 0;
   display: grid;
   grid-template-columns: 22% 33% 25% 20%;
   grid-template-rows: 5vw auto;
   font-family: 'Roboto', sans-serif;
   background-color: rgb(233,235,238);
 }


.navbar {
  display: inline;
  position: fixed;
  padding-bottom: 1vw;
  /* margin-bottom: 4vh; */
  height: 4vh;
  background-color: rgb(66,103,178);
  margin: 0;
  color: rgb(255,255,255);
  width: 100%;
}

.navbar ul {
  /* margin-bottom: 1vw; */
  transform: translateY(-1.0vw);
}
.navbar li {
  display: inline;
  font-size: 1vw;
  font-weight: bold;
  margin-right: 2vw;
}
/* .navbar li:not(.navbar-tac) {
  transform: translateY(-0.7vw);
} */
.navbar-tac {
  margin-right: 0.2vw !important;
}

a {
  text-decoration: none;
  color:inherit;
}
a:visited {
  color:inherit;
}

.link-all-users {
  margin-left: 5vw;
  margin-right: 40vw !important;
}
.tac-image {
  border-radius: 50%;
  transform: translateY(0.5vw);
}
.link-user-name {

}
.link-home {

}
.link-edit {

}
.link-signout {

}




/* .yield {
  grid-row-start: 2;
} */



textarea {
  width: 80%;
  padding: 5% 2% 0 2%;
  border: none;
  resize: none;
}

input[type=submit] {
  width: 90%;
  /* text-align: center; */
  /* margin: auto; */
  margin-left: 5%;
  color: white;
  padding: .5vw 0;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  background-color: rgb(66,103,178);
}


.posts {
  /* border: 1px solid blue; */
  /* grid-row-start: 2;
  grid-column-start: 2: */
  grid-area: 2 / 2 / 3 / 3;
}


.new-post img {
  width: 50px;
  display: inline;
  border-radius: 50%;
  vertical-align: top;
  margin-left: .75vw;
}

.post, .new-post {
  border: 1px solid lightgrey;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 1vw;
  padding-bottom: .5vw;
}

.new-post {
  /* padding-top: .75vw; */
}
.new-post-top {
  background-color: rgb(246,247,249);
  border: 1px solid lightgrey ;
  border-top-right-radius, border-top-left-radius: 3px;
  width: 100%;
  height: 30px;
  margin-bottom: .75vw;
  color: rgb(66,103,178);
  font-weight: bold;
  font-size: 1vw;

}
.new-post-top {
  background-color: rgb(246,247,249);
  border: 1px solid lightgrey ;
  border-top-right-radius, border-top-left-radius: 3px;
  width: 100%;
  height: 30px;
  margin-bottom: .75vw;
  color: rgb(66,103,178);
  font-weight: bold;
  font-size: 1vw;
  position:relative;
}

.new-post-top span {
  position:absolute;
  /* vertical-align: middle; */
  top: .5vw;
  left: 2vw;
}

.like-comment-buttons{
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.liked-by{
  border-bottom: 1px solid lightgrey;
}
