/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

*= require font_awesome5
 */

 body {
   margin: 0;
   display: grid;
   /* grid-template-columns: 22% 33% 25% 20%; */
   grid-template-columns: 22% 33% 25% 20%;
   grid-template-rows: 5vw auto;
   font-family: 'Roboto', sans-serif;
   background-color: rgb(233,235,238);
   font-size: 12px;
 }


.navbar {
  display: inline;
  position: fixed;
  padding-bottom: 11px;
  /* margin-bottom: 4vh; */
  height: 24px;
  background-color: rgb(66,103,178);
  margin: 0;
  color: rgb(255,255,255);
  width: 100%;
  z-index: 5;
}

.navbar ul {
  transform: translateY(-13px);
}
.navbar li {
  display: inline;
  font-size: 11px;
  font-weight: bold;
  margin-right: 2vw;
}
.navbar-tac {
  margin-right: 0.2vw !important;
}

a {
  text-decoration: none;
  color:inherit;
}
a:visited {
  color:inherit;
}

.link-all-users {
  margin-left: 0vw;
  margin-right: 40vw !important;
}
.tac-image {
  border-radius: 50%;
  transform: translateY(4px);
}
.link-user-name {

}
.link-home {

}
.link-edit {

}
.link-signout {

}


/* .yield {
  grid-row-start: 2;
} */



textarea {
  width: 80%;
  padding: 5% 2% 0 2%;
  border: none;
  resize: none;
  background-color: white;
}

.comment-field {
  width: 85%;
  border: 1.5px solid rgb(233,235,238);
  border-radius: 25px;
  margin-bottom: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 11px;
}

input[type=submit] {
  width: 90%;
  /* text-align: center; */
  /* margin: auto; */
  margin-left: 5%;
  color: white;
  padding: .5vw 0;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  background-color: rgb(66,103,178);
}


.posts, .posts-edit, .posts-show, .profiles-edit, .profiles-show, .comments-edit, .requests-index, .users-index, .users-show, .registrations-edit, .registrations-new, .sessions-new {
  grid-area: 2 / 2 / 3 / 3;
}

.user-name {
  color: rgb(66, 103, 178) !important;
  font-weight: bold;
}

.new-post img {
  width: 50px;
  height: 50px;
  display: inline;
  border-radius: 50%;
  vertical-align: top;
  margin-left: .75vw;
}

.post, .new-post {
  border: 1px solid lightgrey;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 1vw;
  padding-bottom: .5vw;
  padding-left: .5vw;
}

.new-post {
  /* padding-top: .75vw; */
}
.new-post-top {
  background-color: rgb(246,247,249);
  border: 1px solid lightgrey ;
  border-top-right-radius, border-top-left-radius: 3px;
  width: 100%;
  height: 30px;
  margin-bottom: .75vw;
  color: rgb(66,103,178);
  font-weight: bold;
  font-size: 11px;

}
.new-post-top {
  background-color: rgb(246,247,249);
  border: 1px solid lightgrey ;
  border-top-right-radius, border-top-left-radius: 3px;
  width: 101.2%;
  height: 30px;
  margin-bottom: .75vw;
  color: rgb(66,103,178);
  font-weight: bold;
  font-size: 11px;
  position:relative;
  transform: translateX(-.5vw);
}

.new-post-top span {
  position:absolute;
  /* vertical-align: middle; */
  top: .5vw;
  left: 2vw;
}

.post-photo {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.photo-label{
  margin-left: 20px;
  font-size: 12px !important;
  font-weight: bold !important;
  padding: 5px 15px 7px;
  background-color: rgb(245, 247, 248) !important;
  border-radius: 25px;
  display: inline-block;
  color: rgb(90, 90, 90) !important;
}

.photo-label:hover {
  background-color: rgb(233, 235, 238) !important;
}

.fa-image {
  font-size: 18px !important;
  transform: translateY(2px);
}

.post-header {
  position: relative;
}

.timestamp {
  font-size: 10px;
  color: rgb(90,90,90) !important;
}

.edit-delete-post {
  position: absolute;
  right: 10px;
  /* margin-right: 5%; */
  font-size: 10px;
  color: rgb(90,90,90);
}
.edit-delete-post a:hover {
  color: black;
}

.edit-delete-post a {
  margin-left: 5px;
}

.post-content {
  font-size: 14px;
  padding-left: 5px;
}
.like-comment-buttons {
  padding: 3px 0px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

/* .like-comment-buttons{
  display: inline;
  width: 95%;
  float: left:
  padding: 20px 0px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  z-index: 2;
} */
.like-button {
  display: inline;
  float: left;
  width: 48% !important;
  margin-left: 1% !important;
  color: rgb(90, 90, 90) !important;
  padding: 6px 40px;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  background-color: white !important;
}
.unlike {
  color: rgb(66, 103, 178) !important;
}
.comment-button {
  display: inline;
  /* float: none; */
  width: 48% !important;
  margin-left: 1%;
  color: rgb(90, 90, 90) !important;
  padding: 6px 40px;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  background-color: white !important;
}
.like-button:hover, .comment-button:hover {
  background-color: rgb(246, 247, 249) !important;
}
.liked-by{
  font-weight: lighter !important;
  color: rgb(66, 103, 178);
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
  padding-left: 5px;
}
.new-comment-image {
  transform: translateY(-12px) !important;
}

.comment-image {
  float: left;
  margin-right: 5px;
  z-index: 1;
}

.edit-delete-comment {
  position: absolute;
  right: -60px;
  /* margin-right: 5%; */
  font-size: 10px;
  color: rgb(90,90,90);
}
.edit-delete-comment a:hover {
  color: black;
}

.edit-delete-comment a {
  margin-left: 5px;
}

.comment {
  position: relative;
  width: 72% !important;
  margin-left: 25px !important;
  padding: 5px 10px !important;
  border-radius: 15px;
  background-color: rgb(230, 235, 238);
}
.comment-content {

}
